{% extends "interactive/logged_in_home.html" %}

{% block "main" %}

<div class="container-fluid">

    <h1 class="h2 flex-grow-1 px-4">Page not found</span></h1>

    <div class="card mt-4" style="width: 50rem;">
        <div class="card-body">
            <p class="card-text">
                <strong>This might be because:</strong>
                <ul>
                    <li>
                        You have typed the web address incorrectly, or
                    </li>
                    <li>
                        the page you were looking for may have been moved, updated or deleted.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock "main" %}