{% extends "base.html" %} 
{% load static %}
{% load bootstrap4 %} 

{% block "css" %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock "css" %} 

{% block "bodyclass" %}text-center{% endblock "bodyclass" %}

{% block "content" %}

<div class="p-4 border bg-light">
    <div class="brand mb-2">
        <img src="{% static 'img/eternal_coin.png' %}" style="width: 100px" >
        <h1 class="h3 mt-2">Economic Control of Cryptocurrencies<br/>Interactive Simulator</h1>
    </div>
    <div class="form-signin">
        <h1 class="h4 mb-3 font-weight-normal">Page not found!</h1>
        <strong>This might be because:</strong>
        <ul>
            <li>
                You have typed the web address incorrectly, or
            </li>
            <li>
                the page you were looking for may have been moved, updated or deleted.
            </li>
        </ul>
    </div>
</div>

{% endblock "content" %}