{% load bootstrap4 %}

<div class="tab-pane" id="agents" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col-md-6">{% bootstrap_field form.agents_n %}</div>
        <div class="col-md-6">{% bootstrap_field form.average_wait_for_review %}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{% bootstrap_field form.avg_fiat_holding %}</div>
        <div class="col-md-6">{% bootstrap_field form.avg_cc_holding %}</div>
    </div>
</div>