{% load bootstrap4 %}

<div class="tab-pane" id="charts_exchange_rates" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col">
            <h6 class="sidebar-heading text-muted">Exchange Rate</h6>
            <svg id="svg_cg2_1" height="240" data-plot="current_price"></svg>
        </div>
    </div>            
</div>