{% load bootstrap4 %}

<div class="tab-pane" id="charts_participation" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col-md-12">
            <h6 class="sidebar-heading text-muted">Participation over time</h6>
            <svg id="svg_cg1_1" height="160" data-plot="participation" data-y-max="agents_n"></svg>
        </div>
        <div class="col-md-12">
            <h6 class="sidebar-heading text-muted">Number of transactions</h6>
            <svg id="svg_cg1_2" height="160" data-plot="transactions_today" data-plot-type="bar"></svg>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="sidebar-heading text-muted">Total cryptocoins transacted</h6>
            <svg id="svg_cg1_3" height="160" data-plot="volume_transactions_today" data-plot-type="bar"></svg>
        </div>
    </div>
</div>