{% load bootstrap4 %}

<div class="tab-pane" id="controls" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col-md-6">{% bootstrap_field form.buzz %}</div>
    </div>
</div>