{% load bootstrap4 %}

<div class="tab-pane" id="cryptocurrency" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col-md-6">{% bootstrap_field form.starting_crypto_price %}</div>
    </div>
</div>