{% load bootstrap4 %}

<div class="tab-pane" id="details" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col">
            {% bootstrap_field form.name %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% bootstrap_field form.description %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% bootstrap_field form.notes %}
        </div>
    </div>
</div>