{% load bootstrap4 %}

<div class="tab-pane" id="environment" role="tabpanel" aria-labelledby="profile-tab">
        <div class="alert alert-info">
            This page is a placeholder for the many controls to come later but there is nothing useful here now!
        </div>
        <div class="row">
            <div class="col">{% bootstrap_field form.env1 %}</div>
            <div class="col">{% bootstrap_field form.env2 %}</div>
            <div class="col">{% bootstrap_field form.env3 %}</div>
        </div>
    </div>