{% load bootstrap4 %}

<div class="tab-pane" id="exchange" role="tabpanel" aria-labelledby="profile-tab">
    <div class="alert alert-info">
        This page is a placeholder for the many controls to come later but there is nothing useful here now!
    </div>
    <div class="row">
        <div class="col">{% bootstrap_field form.exc1 %}</div>
        <div class="col">{% bootstrap_field form.exc2 %}</div>
        <div class="col">{% bootstrap_field form.exc3 %}</div>
    </div>
</div>