{% load bootstrap4 %}

<div class="tab-pane" id="timing" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
        <div class="col">{% bootstrap_field form.days_n %}</div>
        <div class="col">{% bootstrap_field form.run_n %}</div>
    </div>
</div>