<div class="modal fade" id="loadSimModal" tabindex="-1" role="dialog" aria-labelledby="loadSimModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadSimModalLabel">Load simulation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if simulations_list %}
                    <p>
                        Select the simulation to load from the list below.
                    </p>
                    <ul class="nav flex-column">
                        {% for simulation in simulations_list %}
                        <li class="nav-item border-top {% if forloop.last %}border-bottom mb-4{% endif %}">
                            <a class="nav-link" data-href="{% url 'simulation-update' pk=simulation.pk %}">
                                {{ simulation.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    {% if simulation or trial %}
                    <div class="alert alert-danger">
                        Any unsaved changes will be lost, if you have any unsaved data please save it first before continuing.
                    </div>
                    {% endif %}
                {% else %}
                <p>
                    You have no saved simulations to load.
                </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if simulations_list %}
                    <a href="#" class="btn btn-primary no-store-unsaved">Load Simulation</a>
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>