{% load bootstrap4 %}

<div class="modal fade" id="newSimModal" tabindex="-1" role="dialog" aria-labelledby="newSimModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{% url 'logged_in_home' %}" method="post" id="form_parameters" class="d-flex flex-column justify-content-between py-4" style="height: calc(100vh - 48px);">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newSimModalLabel">Create new simulation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% bootstrap_form start_simulation_form %}
                    {% if simulation or trial %}
                        <div class="alert alert-danger">
                            Any unsaved changes will be lost, if you have any unsaved data please save it first before continuing.
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create New Simulation</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>