{% extends "base.html" %} 
{% load static %}
{% load bootstrap4 %} 

{% block "css" %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock "css" %} 

{% block "bodyclass" %}text-center{% endblock "bodyclass" %}

{% block "content" %}

<div class="p-4 border bg-light">
    <div class="brand mb-2">
        <img src="{% static 'img/eternal_coin.png' %}" style="width: 100px" >
        <h1 class="h3">Economic Control of Cryptocurrencies<br/>Interactive Simulator</h1>
    </div>
    <form class="form-signin" method="post" action="{% url 'signup' %}" style="width: 600px; max-width: 600px">
        {% bootstrap_form_errors form %}
        {% csrf_token %}
        <h1 class="h4 mb-3 font-weight-normal">Register</h1>
        {% for field in form %}
            {% bootstrap_field field label_class="sr-only" %}
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>


{% endblock "content" %}