{% extends "base.html" %}
{% load static %}

{% block "css" %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock "css" %}

{% block "js" %}
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}" ></script>
    <script type="text/javascript">
        // Global Variables
        window.ECS = {
            trialData: null,
            field_errors: []
        };
    </script>
{% endblock "js" %}

{% block "content" %}
    <nav class="navbar navbar-expand navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 warn-unsaved" href="{% url 'logged_in_home' %}">
            <img src="{% static 'img/eternal_coin.png' %}" alt="Eternal Coin" style="width: 30px;">&nbsp;
            ECC Interactive Simulator
        </a>
        <ul class="navbar-nav w-100 px-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-toggle="modal" data-target="#newSimModal">Create New Simulation</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#loadSimModal">Load Saved Simulation</a>
                    {% block "menu_extra" %}{% endblock %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link warn-unsaved" href="{% url 'logout' %}">Sign out</a>
            </li>
        </ul>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            {% block "sidebar" %}{% include "interactive/sidebar_empty.html" %}{% endblock "sidebar" %}
            <main role="main" class="col-md-10 ml-sm-auto px-4">
                <form novalidate method="post" id="form_parameters" class="d-flex flex-column justify-content-between py-4" style="height: calc(100vh - 48px);">
                    <!-- Dashboard Header -->
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                        {% block "breadcrumbs" %}{% endblock "breadcrumbs" %}
                        {% block "share_buttons" %}
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <a class="btn btn-sm btn-outline-secondary no-store-unsaved">Share</a>
                                <a class="btn btn-sm btn-outline-secondary no-store-unsaved">Export</a>
                            </div>
                        </div>
                        {% endblock "share_buttons" %}
                    </div>

                    <!-- Dashboard Main -->
                    <div class="flex-grow-1 main" >
                        {% block "main" %}{% endblock "main" %}
                    </div>

                    <!-- Dashboard Footer -->
                    <div class="footer">
                        {% block "foot" %}{% endblock "foot" %}
                    </div>
                </form>
            </main>
        </div>
    </div>

    {% block "modals" %}{% endblock "modals" %}
    {% include "interactive/modals/new_simulation_modal.html" %}
    {% include "interactive/modals/load_simulation_modal.html" %}

{% endblock "content" %}


