{% extends "interactive/dashboard_base.html" %}
{% load static %}
{% load trialtags %}
{% load bootstrap4 %}

{% block "main_title" %}Economic Control Of Cryptocurrencies – Interactive Simulator{% endblock "main_title" %}

{% block "js" %}
    {{ block.super }}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
        ECS.field_errors = [];
        {% for field in form %}
            {% if field.errors %}ECS.field_errors.push('{{ field.name }}');{% endif %}
        {% endfor %}
    </script>
    <script type="text/javascript" src="{% static 'js/trial.js' %}" ></script>
{% endblock "js" %}


{% block "main" %}

{% block "share_buttons" %}{% endblock "share_buttons" %}

<div class="container-fluid" >

    <div class="tab-content">
        <div class="tab-pane active show" id="dashboard" role="tabpanel" aria-labelledby="profile-tab">
            
            <h1 class="h3" >Economic Control of Cryptocurrencies - Interactive Simulator</h1>

            <div class="card mt-4" style="width: 50rem;">
                <div class="card-body">
                    <p class="card-text">
                            Use the menu to create a new simulation or load an existing one. 
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock "main" %}

{% block "modals" %}
    {% if simulation.pk %}
    {% include "interactive/modals/reset_trial_modal.html" %}
    {% include "interactive/modals/delete_simulation_modal.html" %}
    {% endif %}
{% endblock "modals" %}
