<div class='progress'>
    <div class='progress-bar bg-success progress-bar-animated completed' style="width: {{ progress_1_width }};">&nbsp;</div>
    <div class='progress-bar bg-secondary progress-bar-striped progress-bar-animated pending' style="width: {{ progress_2_width }};">&nbsp;</div>
</div>