<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">

        <div class="nav flex-column px-3 pt-4">
            
        </div>

        {% block "sidebar_buttons" %}

        {% endblock "sidebar_buttons" %}
    </div>
</nav>

