<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">

        <div class="nav flex-column px-3 pt-4">
            <a data-toggle="tab" href="#dashboard" class="sidebar-heading text-muted active">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Trials List
            </a>

            <a data-toggle="tab" href="#details" class="sidebar-heading text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Descriptions
            </a>

            <h3 class="sidebar-heading text-muted border-bottom">Simulation Defaults</h3>
            <a data-toggle="tab" href="#timing" class="sidebar-heading text-muted mt-1" data-title="Default Timing">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Timing
            </a>

            <a data-toggle="tab" href="#cryptocurrency" class="sidebar-heading text-muted mt-1" data-title="Default Cryptocurrency">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Cryptocurrency
            </a>

            <a data-toggle="tab" href="#agents" class="sidebar-heading text-muted mt-1" data-title="Default Agents">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Agents
            </a>

            <a data-toggle="tab" href="#exchange" class="sidebar-heading text-muted mt-1" data-title="Default Exchange(s)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Exchange(s)
            </a>

            <a data-toggle="tab" href="#environment" class="sidebar-heading text-muted mt-1" data-title="Default Environment">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Environment
            </a>

            <a data-toggle="tab" href="#controls" class="sidebar-heading text-muted mt-1" data-title="Default Controls">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Controls
            </a>
        </div>

        {% block "sidebar_buttons" %}

        {% endblock "sidebar_buttons" %}
    </div>
</nav>

