<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">

        <div class="nav flex-column px-3 pt-4">
            <a data-toggle="tab" href="#dashboard" class="sidebar-heading text-muted active">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Trial Overview
            </a>

            <a data-toggle="tab" href="#details" class="sidebar-heading text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Description
            </a>

            <h3 class="sidebar-heading text-muted border-bottom">Current Trial Settings</h3>
            <a data-toggle="tab" href="#timing" class="sidebar-heading text-muted mt-1" data-title="Current Timing">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Timing
            </a>

            <a data-toggle="tab" href="#cryptocurrency" class="sidebar-heading text-muted mt-1" data-title="Current Cryptocurrency">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Cryptocurrency
            </a>

            <a data-toggle="tab" href="#agents" class="sidebar-heading text-muted mt-1" data-title="Current Agents">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Agents
            </a>

            <a data-toggle="tab" href="#exchange" class="sidebar-heading text-muted mt-1" data-title="Current Exchange(s)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Exchange(s)
            </a>

            <a data-toggle="tab" href="#environment" class="sidebar-heading text-muted mt-1" data-title="Current Environment">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Environment
            </a>

            <a data-toggle="tab" href="#controls" class="sidebar-heading text-muted mt-1" data-title="Current Controls">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Controls
            </a>

            {% if trial %}
            <h3 class="sidebar-heading text-muted border-bottom">Trial Charts</h3>
            <a data-toggle="tab" href="#charts_participation" class="sidebar-heading text-muted mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Participation
            </a>
            <a data-toggle="tab" href="#charts_exchange_rates" class="sidebar-heading text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                Exchange Rates
            </a>
            {% endif %}

        </div>

        {% block "sidebar_buttons" %}

        {% endblock "sidebar_buttons" %}
    </div>
</nav>

