{% extends "interactive/dashboard_base.html" %}
{% load static %}
{% load trialtags %}
{% load bootstrap4 %}

{% block "js" %}
    {{ block.super }}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
        ECS.field_errors = [];
        {% for field in form %}{% if field.errors %}ECS.field_errors.push('{{ field.name }}');{% endif %}{% endfor %}
        ECS.restore_unsaved_changes_msg =  {{ restore_unsaved_changes_msg|safe }};
        ECS.warn_unsaved_changes_msg =  {{ warn_unsaved_changes_msg|safe }};
    </script>
    <script type="text/javascript" src="{% static 'js/trial.js' %}" ></script>
{% endblock "js" %}

{% block "breadcrumbs" %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>{{ simulation.name }}</a></li>
        <li class="breadcrumb-item active"><span id="tab-heading">Trial List</span></li>
    </ol>
</nav>
{% endblock "breadcrumbs" %}

{% block "main" %}

{% block "sidebar" %}{% include "interactive/sidebar_simulation.html" %}{% endblock "sidebar" %}

<div class="container-fluid" >

    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}

    {% if not form.non_field_errors and form.errors %}
    <div class="alert alert-danger" role="alert">
        Some of your parameter values are invalid, please correct the highlighted fields. 
        N.B. There may be errors in more than one parameter group, in which case the relevant parameter 
        groups will be highlighted within in the sidebar.
    </div>
    {% endif %}

    <input type="hidden" name="next" value="" />

    <div class="tab-content">
        <div class="tab-pane active show" id="dashboard" role="tabpanel" aria-labelledby="profile-tab">

            <div class="card mb-3" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title">Description: </h5>
                    <p class="card-text">
                        {{ simulation.description }}
                    </p>
                </div>
            </div>

            {% if trials %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trial Name</th>
                        <th scope="col">Trial Description</th>
                        <th scope="col">Trial Date</th>
                        <th scope="col" style="width: 300px">Progress</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for trial in trials %}
                    <tr data-id="{{ trial.pk}}" {% if trial.current_task_id %}data-progress-url="{% url 'progress' trial.pk %}"{% endif %} data-progress-state="{{ trial.check_status }}">
                        <th scope="row">{{ forloop.counter}}</th>
                        <td><a class="warn-unsaved" href="{% url "trial-update" pk=trial.id simulation=simulation.id %}">{{ trial.name }}</a></td>
                        <td>{{ trial.description }}</td>
                        <td>{{ trial.created }}</td>
                        <td style="width: 300px">
                            {% progress_bar trial.get_progress %}
                            <div class="progress-bar-message" class="mb-3"></div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <p class="card-text">
                        There are no trials to display yet! Click <strong>{{ buttons.start_new_trial }}</strong> to start one.
                    </p>
                </div>
            </div>
            {% endif %}
        </div>

        {% include "interactive/tabs/details.html" %}
        {% include "interactive/tabs/timing.html" %}
        {% include "interactive/tabs/cryptocurrency.html" %}
        {% include "interactive/tabs/agents.html" %}
        {% include "interactive/tabs/exchange.html" %}
        {% include "interactive/tabs/controls.html" %}
        {% include "interactive/tabs/environment.html" %}
    </div>
</div>
{% endblock "main" %}

{% block "foot" %}
    <div class="row">
        <div class="col-md-3">
            <input name="task" class="btn btn-primary btn-block" type="submit" value="{{ buttons.save }}" />
        </div>
        {% if simulation.pk %}
        <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">Delete Simulation</button>
        </div>
        {% endif %}
        {% if buttons.start_new_trial %}
        <div class="col-md-3">
            <input name="task" class="btn btn-primary btn-block" type="submit" value="{{ buttons.start_new_trial }}" />
        </div>
        {% endif %}

    </div>
{% endblock "foot" %}

{% block "modals" %}
    {% if simulation.pk %}
    {% include "interactive/modals/reset_trial_modal.html" %}
    {% include "interactive/modals/delete_simulation_modal.html" %}
    {% endif %}
{% endblock "modals" %}
