{% extends "interactive/dashboard_base.html" %}
{% load static %}
{% load trialtags %}
{% load bootstrap4 %}

{% block "js" %}
    {{ block.super }}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
        {% if trial_json %}
            ECS.trialData = {{ trial_json|safe }};
        {% endif %}
        ECS.field_errors = [];
        {% for field in form %}{% if field.errors %}ECS.field_errors.push('{{ field.name }}');{% endif %}{% endfor %}
        ECS.restore_unsaved_changes_msg =  {{ restore_unsaved_changes_msg|safe }};
        ECS.warn_unsaved_changes_msg =  {{ warn_unsaved_changes_msg|safe }};
        {% if trial.is_complete %}
        ECS.trial_complete = true;
        {% else %}
        ECS.trial_complete = false;
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static 'js/trial.js' %}" ></script>
{% endblock "js" %}

{% block "breadcrumbs" %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="warn-unsaved" href="{% url 'simulation-update' pk=trial.simulation.pk %}">{{ trial.simulation.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ trial.name }}</li>
        <li class="breadcrumb-item active"><span id="tab-heading">Trial Overview</span></li>
    </ol>
</nav>
{% endblock "breadcrumbs" %}

{% block "main" %}

{% block "sidebar" %}{% include "interactive/sidebar_trial.html" %}{% endblock "sidebar" %}

<div class="container-fluid" >

    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}

    {% if not form.non_field_errors and form.errors %}
    <div class="alert alert-danger" role="alert">
        Some of your parameter values are invalid, please correct the highlighted fields. 
        N.B. There may be errors in more than one parameter group, in which case the relevant parameter 
        groups will be highlighted within in the sidebar.
    </div>
    {% endif %}

    <input type="hidden" name="next" value="" />

    <div class="tab-content">
        <div class="tab-pane active show" id="dashboard" role="tabpanel" aria-labelledby="profile-tab">

            <div class="graph-row border-top">
                <h6 class="sidebar-heading text-muted">
                    Participation over time
                </h6>
                <svg id="svg_dashboard" height="190" data-plot="participation" data-y-max="agents_n"></svg>
            </div>
        
            {% if trial %}
            <div class="card my-3">
                <div class="card-body" {% if trial.current_task_id %}data-progress-url="{% url 'progress' trial.pk %}";{% endif %} >
                    <strong>Current Trial Progress</strong>
                    {% progress_bar trial.get_progress %}
                    <div class="progress-bar-message" class="mb-3"></div>
                </div>
            </div>
            {% endif %}

        </div>

        {% include "interactive/tabs/details.html" %}
        {% include "interactive/tabs/timing.html" %}
        {% include "interactive/tabs/cryptocurrency.html" %}
        {% include "interactive/tabs/agents.html" %}
        {% include "interactive/tabs/exchange.html" %}
        {% include "interactive/tabs/controls.html" %}
        {% include "interactive/tabs/environment.html" %}
        
        {% include "interactive/tabs/charts_participation.html" %}
        {% include "interactive/tabs/charts_exchange_rates.html" %}

    </div>
</div>
{% endblock "main" %}

{% block "foot" %}
    <div class="row">
        {% if trial.is_complete %}
        <div class="col-md-3">
            <a href="{% url 'simulation-update' pk=trial.simulation.pk %}" class="btn btn-primary btn-block no-store-unsaved" type="submit" value="{{ buttons.save }}" >Return to Trials list</a>
        </div>
        {% else %}
        <div class="col-md-3">
            <input name="task" class="btn btn-primary btn-block" type="submit" value="{{ buttons.save }}" />
        </div>
        <div class="col-md-3">
            <input name="task" class="btn btn-primary btn-block" type="submit" value="{{ buttons.run_trial }}" />
        </div>
        {% endif %}
        {% if trial.pk %}
        <div class="col-md-3">
            <input name="task" id="do_reset" class="btn btn-danger btn-block" type="submit" value="{{ buttons.reset }}" />
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">Delete Trial</button>
        </div>
        {% endif %}
    </div>
{% endblock "foot" %}

{% block "modals" %}
    {% if trial.pk %}
    {% include "interactive/modals/reset_trial_modal.html" %}
    {% include "interactive/modals/delete_trial_modal.html" %}
    {% endif %}
{% endblock "modals" %}

{% block "menu_extra" %}
<div class="dropdown-divider"></div>
<a class="dropdown-item warn-unsaved" href="{% url 'simulation-update' pk=trial.simulation.pk %}">Trial List for {{ trial.simulation.name }}</a>
{% endblock %}